body {
    background-image: url("img/wrapper-bg.jpg");
}

.headup {
    text-align: center;
    font-size: 80px;
    color: #7FA72C;
}

.headdown {
    text-align: center;
    font-size: 36px;
    color: #7FA72C;
    margin-top: -20px;
}

.big {
    padding: 25px;
}

img {
    width: 100%;
    height: auto;
}

.elem {
    color: #7FA72C;
}

footer {
    text-align: center;
    font-size: 20px;
    color: #7FA72C;
}