.container {
    display: grid;
    grid-gap: 50px;
    grid-template: 200px / 300px;
    background-color: lightsteelblue;
    border: 1px solid #212941;
    border-radius: 5px;
    padding: 8px 15px;
    color: #fff;
    font-family: roboto;
}